<%!
    import itertools

    def getSmallIcon(a):
        small = a.get_icon_for_size(64,64)
        smallIcon = small.get_name() if small else ""
        return "icons/64x64/"+smallIcon

    def getLargeIcon(a):
        large = a.get_icon_for_size(128,128)
        largeIcon = large.get_name() if large else ""
        return "icons/128x128/"+largeIcon

    def getScreenshots(a):
        return [images.get_source() for images in a.get_screenshots()]

    def getThumbnails(a):
        return [images.get_image(224,126) for images in a.get_screenshots()]
%>
<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="${getLargeIcon(app)}">
        <title>${app.get_name()}</title>
        <meta property="og:title" content="${app.get_name()}" />
        <meta property="og:image" content="${getLargeIcon(app)}" />
        <meta property="og:description" content="${app.get_comment()}" />
        <link rel="stylesheet" href="style_dark.css">
    </head>
    <body>
        <input type="checkbox" class="menubtn"/>
        <div class="sidebar" style="width:25%">
            <h3 class="w3-bar-item">Menu</h3>
            % for a in apps:
                <div class="game-element">
                    <img src="${getSmallIcon(a)}">
                    <a href="${a.get_name().replace(':','').replace('/','')}.html" target="_self">${a.get_name()}</a>
                </div>
            % endfor
        </div>
        <div class="game">
            <div class="header">                
                <img src="${getLargeIcon(app)}">
		<h1>${app.get_name()}</h1>
                <h4>Summary</h2>
                <p>${app.get_comment()}</p>
            </div>
            <section class="info">
                <section class="license">
                    <h2>License</h2>
                    <h3>${app.get_project_license()}</h3>
                </section>
                <section class="urls">
                    <h2>Urls</h2>
                    % for url,type in urls:
                    <div class="entry">
                        ${makeIcon(type)}
                        <a href="${url}">${type}</a>
                    </div>
                    % endfor
                </section>
            </section>
            <div class="wrapper">
                <div class="carousel-container">
                    <div class="carousel">
                        % for i,screenshot in enumerate(getScreenshots(app)):
                        <div id="screenshot${i}" class="carousel__item">
                            <img src="${screenshot.get_url()}" alt="${screenshot.get_url()}" class="carousel__image">
                        </div>
                        % endfor
                    </div>
                    <div id="controls" class="controls">
                        % for i,screenshot in enumerate(getThumbnails(app)):
                        <a href="#screenshot${i}" class="controls__dot">
                            <img src="${screenshot.get_url()}" alt="${screenshot.get_url()}" class="carousel__thumbnail">
                            <span class="visuallyhidden">screenshot${i}}</span>
                        </a>
                        % endfor
                    </div>
                </div>
            </div>
            <h2>Description</h2>
            <p>${app.get_description()}</p>
            <h2>Releases<h2>
                    % for release in app.get_releases():
                    <p>${release.get_version()}</p>
                    % if release.get_description() is not None:
                    <p>${release.get_description()}</p>
                    % endif
                    % endfor
        </div>
    </body>
</html>


<%def name="makeIcon(name)">
<figure>
    % if name == "homepage":
    <svg role="img" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="m 12.829686,6.6209583 -4.2411171,-4.7173 c -0.41099,-0.45697 -1.000463,-0.72527 -1.613754,-0.71676 -0.614554,0.002 -1.201601,0.26554 -1.610189,0.72453 l -4.196428,4.71195 c -0.24399498,0.27418 -0.21958298,0.69396 0.05422,0.93798 0.126788,0.11279 0.284499,0.16815 0.44169,0.16815 0.182791,0 0.365063,-0.0751 0.496307,-0.22262 l 4.196552,-4.70955 c 0.157712,-0.1772 0.383905,-0.2771 0.621016,-0.2771 6.44e-4,0 0.0015,0 0.002,0 0.236394,0 0.462463,0.0983 0.62052,0.27405 l 4.2412421,4.71616 c 0.245182,0.27331 0.665605,0.2948 0.938121,0.0493 0.272813,-0.24516 0.295071,-0.66573 0.04979,-0.93876 z m -5.2464081,-3.07186 c -0.152116,-0.17806 -0.374471,-0.28078 -0.608587,-0.28078 -0.23419,0 -0.45657,0.1027 -0.608537,0.28078 l -3.414261,4.00196 c -0.211956,0.24832 -0.303216,0.57788 -0.249119,0.89991 l 0.619778,3.6968297 c 0.06464,0.38542 0.398165,0.66546 0.788927,0.66546 l 2.97767,0 c -8.91e-4,-0.014 0.0011,-0.0192 0.0011,-0.0314 l 0,-2.68426 c 0,-0.1742497 0.138623,-0.3174297 0.312872,-0.3174297 l 1.434528,0 c 0.174398,0 0.31671,0.1432 0.31671,0.3174297 l 0,2.7157 0.683505,0 c 0.3908121,0 0.7244071,-0.28004 0.7889521,-0.66546 l 0.619753,-3.6978397 c 0.05412,-0.32216 -0.03714,-0.65058 -0.249218,-0.8989 l -3.4141121,-4.00196 z m -1.41992,7.5020997 c 0,0.1744 -0.14142,0.31582 -0.31567,0.31582 l -1.095833,0 c -0.174398,0 -0.31567,-0.14142 -0.31567,-0.31582 l 0,-1.0958297 c 0,-0.17425 0.141297,-0.31567 0.31567,-0.31567 l 1.095833,0 c 0.17425,0 0.31567,0.14142 0.31567,0.31567 l 0,1.0958297 z" 
         fill="currentColor" fill-rule="nonzero" /></svg>
    % elif name == "bugtracker":
    <svg role="img" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M 13,7.84 Q 13,8.035 12.8575,8.1775 12.715,8.32 12.52,8.32 h -1.68 q 0,1.2825 -0.5025,2.175 l 1.56,1.5675 Q 12.04,12.205 12.04,12.4 q 0,0.195 -0.1425,0.3375 -0.135,0.1425 -0.3375,0.1425 -0.2025,0 -0.3375,-0.1425 L 9.7375,11.26 Q 9.7,11.2975 9.625,11.3575 9.55,11.4175 9.31,11.57125 9.07,11.725 8.8225,11.845 8.575,11.965 8.2075,12.0625 7.84,12.16 7.48,12.16 V 5.44 H 6.52 v 6.72 Q 6.1375,12.16 5.75875,12.05875 5.38,11.9575 5.10625,11.81125 4.8325,11.665 4.61125,11.51875 4.39,11.3725 4.285,11.275 L 4.1725,11.17 2.8,12.7225 Q 2.65,12.88 2.44,12.88 2.26,12.88 2.1175,12.76 1.975,12.625 1.96375,12.42625 1.9525,12.2275 2.08,12.0775 L 3.595,10.375 Q 3.16,9.52 3.16,8.32 H 1.48 Q 1.285,8.32 1.1425,8.1775 1,8.035 1,7.84 1,7.645 1.1425,7.5025 1.285,7.36 1.48,7.36 H 3.16 V 5.155 L 1.8625,3.8575 Q 1.72,3.715 1.72,3.52 1.72,3.325 1.8625,3.1825 2.005,3.04 2.2,3.04 q 0.195,0 0.3375,0.1425 L 3.835,4.48 h 6.33 L 11.4625,3.1825 Q 11.605,3.04 11.8,3.04 q 0.195,0 0.3375,0.1425 Q 12.28,3.325 12.28,3.52 q 0,0.195 -0.1425,0.3375 L 10.84,5.155 V 7.36 h 1.68 q 0.195,0 0.3375,0.1425 Q 13,7.645 13,7.84 z M 9.4,3.52 H 4.6 Q 4.6,2.5225 5.30125,1.82125 6.0025,1.12 7,1.12 7.9975,1.12 8.69875,1.82125 9.4,2.5225 9.4,3.52 z" fill="currentColor" fill-rule="nonzero" /></svg>
    % elif name == "donation":
    <svg role="img" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><g transform="translate(-.14079811 .14285704) scale(.28571)"><path fill="#e69329" d="M15.9 15.7l-4.2 5.9 5.1 9.9 9.5-3.9 4.4-12.7z"/><circle cx="15" cy="36" r="7.8000002" fill="#546e7a"/><g fill="#90a4ae"><path d="M15 27c-5 0-9 4-9 9s4 9 9 9 9-4 9-9-4-9-9-9zm0 16c-3.9 0-7-3.1-7-7s3.1-7 7-7 7 3.1 7 7-3.1 7-7 7z"/><path d="M14 33h2v8h-2z"/></g><g fill="#ffb74d"><path d="M12.9 36c1 1.9 3.2 2.7 5.1 1.7l16.5-8.5c1-.5 1.7-1.2 2.2-1.9 1.7-3.2 5.6-10.7 8.2-17.2l-18.2 8.7-4.8 7.2-6.8 3.6c-2.6 1.3-3.4 4.2-2.2 6.4z"/><path d="M30.2 3L13.7 9.3c-.7.2-1.5 1-2.2 1.7l-5.6 7.5c-1 1.5-1.2 3.4-.5 5.1.4 1 1.7 3.4 3.1 6.1C10.1 28 12.4 27 15 27c.4 0 .9 0 1.3.1l-2.1-4.2 4.6-4.1h8s15.5-2.2 18.2-8.7L30.2 3z"/></g><path fill="#ffcdd2" d="M18.2 36c-1.3.6-2.8 0-3.3-1.3-.6-1.3 0-2.8 1.3-3.3 1.2-.6 3.2 4 2 4.6z"/></g></svg>
    % elif name == "help":
    <svg role="img" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M 7,1 C 3.686607,1 1,3.68661 1,7 c 0,3.31339 2.686607,6 6,6 3.313393,0 6,-2.68661 6,-6 C 13,3.68661 10.313393,1 7,1 Z m 4.775893,4.08482 -1.647322,0.50625 C 9.959821,5.21607 9.724107,4.87321 9.424107,4.57321 9.124107,4.27321 8.78125,4.0375 8.40625,3.86875 L 8.9125,2.22143 c 0.6375,0.25446 1.221429,0.64018 1.722321,1.13839 0.500893,0.50357 0.886608,1.0875 1.141072,1.725 z M 7,9.57143 C 5.580357,9.57143 4.428571,8.41964 4.428571,7 4.428571,5.58036 5.580357,4.42857 7,4.42857 8.419643,4.42857 9.571429,5.58036 9.571429,7 9.571429,8.41964 8.419643,9.57143 7,9.57143 Z M 3.3625,3.3625 C 3.863393,2.86161 4.447321,2.47857 5.084821,2.22411 l 0.50625,1.64732 c -0.375,0.16875 -0.717857,0.40446 -1.017857,0.70446 -0.3,0.3 -0.535714,0.64286 -0.704464,1.01786 L 2.221429,5.0875 C 2.478571,4.44732 2.864286,3.86339 3.3625,3.3625 Z M 2.224107,8.91518 3.871429,8.40893 c 0.16875,0.375 0.404464,0.71786 0.704464,1.01786 0.3,0.3 0.642857,0.53571 1.017857,0.70446 L 5.0875,11.77857 C 4.45,11.52411 3.866071,11.13839 3.365179,10.64018 2.864286,10.13661 2.478571,9.55268 2.224107,8.91518 Z M 10.6375,10.6375 c -0.500893,0.50089 -1.084821,0.88393 -1.722321,1.13839 l -0.50625,-1.64732 c 0.375,-0.16875 0.717857,-0.40446 1.017857,-0.70446 0.3,-0.3 0.535714,-0.64286 0.704464,-1.01786 l 1.647321,0.50625 c -0.257142,0.64018 -0.642857,1.22411 -1.141071,1.725 z" fill="currentColor" fill-rule="nonzero" /></svg>
    % elif name == "faq":
    <svg role="img" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M 6.9198484,1.0005452 C 3.6064257,1.0448929 0.95652234,3.7671873 1.0006091,7.0807404 1.0449568,10.392859 3.7669904,13.043545 7.0802826,12.999458 10.393053,12.954849 13.043478,10.232555 12.999391,6.9192627 12.955044,3.6068835 10.23288,0.95632795 6.9198484,1.0005452 Z m -0.017739,9.6516168 -0.03313,-5.22e-4 C 6.35872,10.63651 5.9989822,10.260598 6.0134604,9.7579041 6.0276777,9.2638191 6.3961547,8.905125 6.8895876,8.905125 l 0.029609,5.218e-4 C 7.443673,8.9211688 7.7993673,9.2932971 7.7846282,9.8104691 7.7700192,10.305989 7.4072818,10.652162 6.9021097,10.652162 Z M 9.0484058,6.3923081 C 8.9284063,6.5627858 8.6645377,6.7744807 8.3320606,7.0335232 L 7.9659315,7.2863049 C 7.7649323,7.4425652 7.6436284,7.5895646 7.5981068,7.7342163 7.5622373,7.8480854 7.5446287,7.8782157 7.5414983,8.1098671 l -5.217e-4,0.058826 -1.3979949,0 0.00404,-0.1183039 C 6.164112,7.5641299 6.176112,7.2780875 6.377633,7.0417405 6.6938057,6.6705245 7.391238,6.2214392 7.4208466,6.2023958 7.5207592,6.1271352 7.6050198,6.0414399 7.6677587,5.949875 7.8144973,5.7475714 7.8794536,5.5883111 7.8794536,5.4317899 7.8794536,5.2146168 7.815019,5.013748 7.6875847,4.8349225 7.5651069,4.6623579 7.3324121,4.574967 6.9958916,4.574967 6.6621102,4.574967 6.4335893,4.6808796 6.2968941,4.8981832 6.156286,5.1216171 6.0851993,5.3562684 6.0851993,5.5960067 l 0,0.059608 -1.4414295,0 0.00261,-0.062217 C 4.6835522,4.7104882 4.9986815,4.0747514 5.5826359,3.7037962 5.9495476,3.4675797 6.4060677,3.347841 6.9387614,3.347841 c 0.6973018,0 1.2859518,0.1694342 1.7493849,0.5036069 0.4695635,0.3386074 0.7077365,0.845736 0.7077365,1.5072988 0,0.3700421 -0.1168691,0.7176496 -0.347477,1.0335614 z" fill="currentColor" fill-rule="nonzero" /></svg>
    % else:
    <svg role="img" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="m 8.68591,9.70192 -0.2616,0 C 8.39023,9.57064 8.33743,9.44452 8.26987,9.32992 L 8.45539,9.14404 c 0.05628,-0.05628 0.05628,-0.1476 0,-0.20388 L 8.14999,8.63452 c -0.05628,-0.05628 -0.14748,-0.05628 -0.20364,0 L 7.75987,8.82004 C 7.64539,8.75248 7.51927,8.69968 7.38799,8.6656 l 0,-0.2616 C 7.38799,8.32444 7.32547,8.26 7.24567,8.26 l -0.432,0 c -0.07956,0 -0.14232,0.06444 -0.14232,0.144 l 0,0.2616 C 6.54031,8.69968 6.41407,8.75224 6.29959,8.81992 l -0.186,-0.1854 c -0.05628,-0.05628 -0.1476,-0.05628 -0.20388,0 l -0.30552,0.3054 c -0.05628,0.05628 -0.05628,0.14748 0,0.20364 l 0.18552,0.18636 c -0.0678,0.1146 -0.12036,0.24072 -0.15444,0.372 l -0.2616,0 c -0.07956,0 -0.144,0.06252 -0.144,0.14232 l 0,0.432 c 0,0.07956 0.06444,0.14232 0.144,0.14232 l 0.2616,0 c 0.03408,0.13128 0.08664,0.2574 0.15444,0.372 l -0.18552,0.18588 c -0.05628,0.05628 -0.05628,0.1476 0,0.20388 l 0.3054,0.30552 c 0.05628,0.0564 0.14748,0.0564 0.20364,1.2e-4 l 0.18636,-0.18552 c 0.11448,0.06756 0.24072,0.12036 0.37176,0.15444 l 0,0.26172 c 0,0.07944 0.06264,0.14388 0.14232,0.14388 l 0.432,0 c 0.07956,0 0.14232,-0.06444 0.14232,-0.14388 l 0,-0.26172 c 0.13128,-0.03408 0.2574,-0.08688 0.372,-0.15444 l 0.18588,0.18552 c 0.05628,0.05628 0.1476,0.05628 0.20388,0 l 0.30552,-0.3054 c 0.0564,-0.05628 0.0564,-0.14748 1.2e-4,-0.20364 L 8.26987,10.79044 c 0.06756,-0.11448 0.12036,-0.2406 0.15444,-0.37188 l 0.2616,0 c 0.07956,0 0.144,-0.06252 0.144,-0.14232 l 0,-0.432 c 0,-0.0798 -0.06444,-0.14232 -0.144,-0.14232 z M 7.02991,10.78 c -0.39768,0 -0.72,-0.32256 -0.72,-0.72 0,-0.39768 0.32232,-0.72 0.72,-0.72 0.39756,0 0.72,0.32232 0.72,0.72 0,0.39756 -0.32244,0.72 -0.72,0.72 z m -3.00996,-3.72 6.02004,0 0,0.48 -6.02004,0 z m 0,-1.2 6.02004,0 0,0.48 -6.02004,0 z m 0,-0.96 2.55996,0 0,0.48 -2.55996,0 z m 0,-0.96 2.55996,0 0,0.48 -2.55996,0 z m 3.43992,-1.02 2.58,0 0,2.4 -2.58,0 z m -3.43992,0.06 2.55996,0 0,0.48 -2.55996,0 z M 11.58487,1.3396 C 11.58487,1.15456 11.43043,1 11.24515,1 8.41495,1 5.58487,1 2.75467,1 2.56963,1 2.41507,1.15456 2.41507,1.3396 c 0,3.77364 0,7.5474 0,11.3208 0,0.18516 0.15456,0.3396 0.3396,0.3396 2.8302,0 5.66028,0 8.49048,0 0.09996,0 0.17604,-0.03636 0.2304,-0.09096 0.0032,-0.0028 0.0064,-0.0061 0.0094,-0.009 0.0028,-0.0029 0.0064,-0.0062 0.0089,-0.0094 0.0546,-0.05424 0.09108,-0.13032 0.09108,-0.23028 0,-3.7734 0,-7.54716 0,-11.3208 z m -0.67932,10.9812 c -2.60364,0 -5.20752,0 -7.81128,0 0,-3.54732 0,-7.0944 0,-10.6416 2.60376,0 5.20752,0 7.81128,0 0,3.5472 0,7.09428 0,10.6416 z" fill="currentColor" fill-rule="nonzero" /></svg>
    % endif
</figure>
</%def>
