body {
    display: flex;
    margin: 0px;
    background-color: #2a2a2a;
}

body a {
    color: #e1e1e1;
}

.info {
    float: right;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: auto;
    width: 30%;

}
.urls, .license {
    display: block;
}

.entry h2 {
    margin: 0% 0% 0% 0;
}

.entry figure{
    width: 28px;
    margin: 0% 6% 12% 5%;
}

@media only screen and (max-width: 1200px) {
    .info {
        float: none;
        width: 100%;
    }

    .entry figure {
        margin: 0% 6% 0% 5%;
    }

    .urls, .license {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.entry {
    max-width: 280px;
    display: flex;
}


.header {
    margin-bottom: 5em;
    max-width: 590px;
}

.header img {
    float: left;
    margin-right: 1em;
}

.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    margin-bottom: -17px;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel__item {
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.carousel__image {
    display: block;
    width: 100%;
    object-fit: contain;

}

.controls {
    margin-top: 2em;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: space-between;
}

.controls__dot {
    flex: 1 0 21%;
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 0.2s;

    &:not(:first-child) {
        margin-left: 0.25em;
    }

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.carousel__thumbnail {
    height: 100%;
    width: 100%;
}

p {
    line-height: 1.3;
    padding-right: 1em;
}

.wrapper {
    margin-right: auto;  
    max-width: 68%;
    margin-top: 30px;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.game {
    font-family: Open Sans,Arial;
    color: #e1e1e1;
    padding: 0px 0em 0px 4em;
    line-height: 1.4;
    text-align: justify;
    height: 100vh;
    flex: 1 1 auto;
    overflow: auto;
}

.sidebar {
    height: 100vh;
    min-width: 200px;
    width: 25%;  
    background-color: #fff;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.sidebar h3 {
    /** note: should probably be h2 **/
    display: none;
}

.game-element {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    padding: 0.5em;
    border-bottom: 1px #ddd solid;
    background-color: #2a2a2a;
}

.game-element:hover {
    background-color: #444;
}

.game-element img {
    height: 64px;
}

.game-element a {
    vertical-align: baseline;
    line-height: 64px;
    flex: 1 0 auto;
    margin-left: 1em;
    color: #e1e1e1;
    text-decoration: none;
}

.menubtn {
    display: none;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        display: none;
    }

    .menubtn {
        display: block;
        position: fixed;
        right: 0;
    }

    .menubtn:checked~.sidebar{
        display: block;
        display: flex;
    }

    .info {
        float: none;
    }

    .wrapper {
        max-width: 98%;
    }

    .game {
        padding: 0px 0em 0px 1em;
    }

    .header {
        margin-bottom: 1em;
                        }

}
